*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #fff;
	border: solid transparent 0px;
	user-select: none;
}
html{
	scroll-behavior: smooth;
}
body {
    background-color: #000;
    padding: 0px;
    margin: 0px;
    font-size: 15px;
}
/* Ajuste para dispositivos móveis */
@media (max-width: 768px) {
    body {
        font-size: 17px; /* Aumenta o tamanho da fonte */
    }
}
body::-webkit-scrollbar {
	display: none;   /*  Remove a barra de rolagem */
}
/* formatação de artigo */
.secao1 {
	padding: 0px;
}
.artigo2 {
    background-color: #000;
	margin: 0px;
	padding: 0px;
	border-radius: 0px;
	text-align: left;
}

/* formatação de textos */
.texto03 {
	color: #b4b4b4;
}
.texto04 {
	color: #777;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	pointer-events: none;
	user-select: none;
	cursor: default;
	outline: none;
}

.texto05 {
  color: #ff0;
	text-decoration: underline;
	pointer-events: none;
	user-select: none;
	cursor: default;
	outline: none;
}

.texto06 {
	color: #0f0;
	pointer-events: none;
	user-select: none;
	cursor: default;
	outline: none;
}

/* Estilo padrão para os links */
.link00 {
	font-family: monospace;
	color: #666;
	border: solid #222 1px;
	background-color: #111;
	padding: 3px;
	text-decoration: none;
	border-radius: 5px;
}
/* Alterações quando o usuário passa o mouse ou clica */
.link00:hover,
.link00:focus,
.link00:active {
	background-color: #222;
	border: solid #666 1px;
}
/* formatação de vídeos da página */
.vid00 {
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
}
.vid01 {
	width: 100%;
	height: 100%;
}
/* Imagens */
.img01 {
	margin-right: 8px;
	padding: 0px;
	width: 100px;
	pointer-events: none;
	user-select: none;
	cursor: default;
	outline: none;
}
.img02 {
	width: 100%; 
	max-width: 600px;
	display: block;
	margin: 0 auto; /* Centraliza a imagem horizontalmente */
	max-width: 100%;
	height: auto;
	pointer-events: none;
	user-select: none;
	cursor: default;
	outline: none;
}
.icon1 {
    vertical-align: middle;
    margin-left: 5px;
	margin-right: 10px;
}
/* footer */
.footer1{
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #000;
	font-size: 12px;
}
.footer2{
	font-size: 20px;
}
/* Tela de carregamento */
#loading-screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
  }
  
  /* Spinner (animação de carregamento) */
  .spinner {
	border: 8px solid #500078;
	border-top: 8px solid #a300c8;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }
  
/* Esconder o conteúdo da página até o carregamento completo */
  #content {
	display: none;
}
/* cabeçalho */
.navbar-brand {
	pointer-events: none;
	user-select: none; 
	cursor: default;
	outline: none;
}
.header1 {
	background-color: #000; /* Cor de fundo escuro do header */
	color: white;
	padding: 0px 0;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
	border-radius: 2px;
  }
.nav-link {
	font-family: monospace, 'Courier New', Courier;
	letter-spacing: 2px;
	height: 60px;
	text-transform: uppercase;
	font-weight: 900;
	margin: 3px;
	display: flex;
	align-items: center;
	background-color: #111;
	border-radius: 2px;
	border: solid #222 1px;
	transition: 0.3s;
  }
.nav-link:hover {
	background-color: #222;
	border: solid #a300c8 1px;
	transition: 0.3s;
}
.nav-link:focus {
	outline: none;
}
.navbar-nav {
	flex-direction: column;
	justify-content: center; /* Centraliza os itens horizontalmente */
}
/* carrossel */
.carousel-indicators img{
	width: 70px;
	display: block;
}
.carousel-indicators button{
	width: max-content!important;
}
.carousel-indicators{
	position: unset;
}
.carousel-indicators button.active img{
	border: #a300c8 2px solid;
}
.carousel-indicators button img{
	border: #500078 2px solid;

}
/* Lista */
.taref1{
	border: #000 solid 1px;
}
.taref2{
	background-color: #500078;
	border: #a300c8 solid 1px;

}
.nao-interativo {
	pointer-events: none; /* Impede qualquer interação com o elemento */
	user-select: none;    /* Impede seleção do texto */
	cursor: default;      /* Mostra um cursor padrão sem ação */
	outline: none;
}
